{% extends 'common_base.html' %}

{% load i18n %}

{% block subtitle %}{% translate 'OTP Secret' %}{% endblock %}

{% block content %}
<div class="full-height centered">
    <div class="content">
        <h2>{% translate 'your OTP key' %}</h2>
        <p>{% translate 'register this key in your 2FA authentication apps such as Google Authenticator or Authy and authenticate next time with the generated OTP code.' %}</p>
        {% with uri=otp_secret.uri %}
        <div class="qr-code" data-qr-code="{{ uri }}">
            <div class="loading"><i class="fa-solid fa-spinner fa-spin-pulse"></i></div>
        </div>
        <p class="small"><a href="{{ uri }}">{{ uri }}</a></p>
        <p class="small"><strong>{% translate 'OTP key:' %}</strong> {{ otp_secret.value }}</p>
        {% endwith %}
        <p class="text-right"><a href="{% url 'timeline' %}">{% translate 'continue...' %}</a></p>
    </div>
</div>
{% endblock %}
