[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "python manage.py runserver"
dbmigrate = "python manage.py migrate"
lint = "pylint --load-plugins pylint_django --django-settings-module=rollsocialnetwork.settings rollsocialnetwork"
type-checker = "mypy rollsocialnetwork"
test = "python manage.py test"
coverage = "coverage run ./manage.py test"
coverage-xml = "coverage xml"
coverage-report = "coverage report"

[packages]
django = "*"
python-decouple = "*"
django-database-url = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
twilio = "*"
pillow = "*"
easy-thumbnails = "*"
django-cors-headers = "*"

[dev-packages]
pylint = "*"
pylint-django = "*"
mypy = "*"
django-types = "*"
types-dj-database-url = "*"
twilio-stubs = "*"
faker = "*"
coverage = "*"
faker-e164 = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
