{% extends 'common_base.html' %}

{% load i18n %}

{% block subtitle %}{% translate 'timeline' %}{% endblock %}

{% block content %}
<div class="header-saver"></div>
<section>
    <h2>{% translate 'timeline' %}</h2>
    <p><a href="{% url 'timeline-create-post' %}">{% translate 'create a post' %}</a></p>
</section>
{% if has_new_post_out_slice %}
<section>
    <a class="new-post" href="{% url 'timeline' %}">{% translate 'view new posts' %}</a>
</section>
{% endif %}
<section>
    {% for post in object_list %}
    {% include 'timeline/post.html' %}
    {% empty %}
    <p>{% translate 'No posts yet.' %}</p>
    {% endfor %}
    <div class="pagination">
        {% if page_obj.has_previous %}
        <a href="?{{ slice_kwarg }}={{ slice }}&page={{ page_obj.previous_page_number }}" class="left">⏴{% translate
            'previous' %}</a>
        {% endif %}
        {% if page_obj.has_next %}
        <a href="?{{ slice_kwarg }}={{ slice }}&page={{ page_obj.next_page_number }}" class="right">{% translate 'next'
            %} ⏵</a>
        {% endif %}
    </div>
</section>
{% endblock %}
