{% load i18n thumbnail humanize posts uris %}

{% with is_external_post=post|is_external_post:request.site %}
<div class="post" id="post-{{ post.pk }}">
    <a href="{% site_build_absolute_uri post.user_profile.site 'social-user-profile' username=post.user_profile.username %}" class="username">
        <div class="text">{{ post.user_profile.username }}</div>
        {% if is_external_post %}<div class="site-domain">@{{ post.user_profile.site.domain }}</div>{% endif %}
    </a>
    <picture>
        <img
            class="preview"
            src="{{ post.photo|thumbnail_url:'photo8' }}" />
        <source srcset="{{ post.photo|thumbnail_url:'photo184' }}" media="(max-width: 360px)" />
        <img
            src="{{ post.photo|thumbnail_url:'photo584' }}"
            loading="lazy"
            alt="{% blocktranslate with username=post.user_profile.username %}Post by @{{ username }}{% endblocktranslate %}" />
    </picture>
    <div class="footer">
        <div class="created-at">{{ post.created_at|naturaltime }}</div>
        <div class="actions">
            {% include "timeline/actions/like_dislike.html" %}
        </div>
    </div>
</div>
{% endwith %}
