{% extends 'common_base.html' %}

{% load i18n %}

{% block header-left-action %}{% endblock %}
{% block header-title %}<a href="{% url 'home' %}">{{ request.site.name }}</a>{% endblock %}
{% block subtitle %}{% translate 'create roll' %}{% endblock %}

{% block content %}
<div class="full-height centered">
    <div class="content">
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <div><button type="submit">{% translate 'create' %}</button></div>
        </form>
    </div>
</div>
{% endblock %}
