{% load static i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ request.site.name }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}{% translate 'by roll, social networks in essence' %}{% endblock %}">
    <link href="{% static 'main.css' %}" rel="stylesheet">
</head>

<body>
    {% block body %}{% endblock %}
    <div id="toast">
        <div is="vue:toast-queue"></div>
    </div>
    <script type="text/javascript" src="{% static 'main.js' %}"></script>
</body>

</html>
