{% load static i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ request.site.name }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}{% translate 'by roll, social networks in essence' %}{% endblock %}">
    <script defer="defer" src="{% static 'main.js' %}"></script>
    <link href="{% static 'main.css' %}" rel="stylesheet">
</head>

<body>
    {% block body %}{% endblock %}
</body>

</html>
