{% extends 'base.html' %}

{% load i18n uris %}

{% block body %}
<header class="fixed">
    {% block header-item-first %}{% endblock %}
    <div class="grow">
        <h1>{% block header-title %}<a href="{% if user.is_authenticated %}{% url 'timeline' %}{% else %}{% url 'home' %}{% endif %}">{{ request.site.name }}</a>{% endblock %}</h1>
    </div>
    <div>
        <p class="thin">{% block subtitle %}-{% endblock %}</p>
    </div>
    {% block header-item-last %}{% endblock %}
</header>
{% block content %}{% endblock %}
<footer>
    <p>{{ request.site.name }} by <a href="{% site_build_absolute_uri home_site 'home' %}"><strong>roll social networks</strong></a></p>
    <ul class="breadcrumb">
        <li><a href="{% site_build_absolute_uri home_site 'home' %}#about">{% translate 'about' %}</a></li>
        <li><a href="{% site_build_absolute_uri home_site 'home' %}#terms">{% translate 'terms' %}</a></li>
    </ul>
</footer>
{% endblock %}
