{% extends "base.html" %}

{% load i18n %}

{% block body %}
<header class="banner">
    <div class="section">
        <h1>{{ request.site.name }}</h1>
        <p>{% translate 'Create social networks in their essence. Join communities "rolls" to consume and share photos. Interact with other users by liking their posts.' %}</p>
        <ul class="breadcrumb left">
            <li><a href="{% url 'timeline' %}">{% translate 'view all posts' %}</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">{% translate 'logout' %}</a></li>
            {% else %}
            <li><a href="{% url 'request-verification-code' %}">{% translate 'login' %}</a></li>
            {% endif %}
        </ul>
    </div>
</header>
<section>
    <h2 class="discreet">{% translate 'popular rolls' %}</h2>
    <div class="rolls-cards">
        {% for site in popular %}
        {% include 'roll_card.html' %}
        {% endfor %}
    </div>
    <div>
        <ul class="breadcrumb right">
            <li><a href="{% url 'rolls' %}">{% translate 'more rolls' %}</a></li>
            <li><a href="{% url 'create-roll' %}">{% translate 'create a new roll' %}</a></li>
        </ul>
    </div>
</section>
<section id="about">
    <h2 class="discreet">{% translate 'about' %}</h2>
    <p>{% blocktranslate %}<a href="https://github.com/dougppaz/roll-social-network" target="_blank">roll social network</a> is an open source project under the <a href="https://github.com/dougppaz/roll-social-network?tab=MIT-1-ov-file" target="_blank">MIT</a> license created by <a href="https://www.douglaspaz.com/" target="_blank">Douglas Paz</a>.{% endblocktranslate %}</p>
    <p>{% translate 'In our social network, a community unit is called roll. Users can join a roll by creating a profile on it. Once associated, the user has access to the timeline and can interact by liking other users\' posts, as well as collaborating by publishing their own content.' %}</p>
</section>
<section id="terms">
    <h2 class="discreet">{% translate 'terms' %}</h2>
    <ol>
        <li>{% translate 'Who can use roll social network: people over 18 years old with the phone number used on the platform registered in their name.' %}</li>
        <li>{% translate 'What can be posted on the roll social network: any type of content as long as it is your own material (it cannot violate copyright or the right to use images).' %}</li>
        <li>{% translate 'What cannot be posted on the netowork social roll: violent content or content that incites violence; illegal, misleading, discriminatory or fraudulent content;' %}</li>
        <li>{% translate 'By posting content on roll social network you grant us a non-exclusive, transferable, sublicensable, royalty-free, worldwide license to host, use, distribute, modify, broadcast, publicly reproduce or display the content.' %}</li>
        <li>{% translate 'It is your responsibility to respond to any legal request regarding content you submit. The roll social network platform and its supporters will collaborate with possible investigations.' %}</li>
    </ol>
</section>
{% endblock %}
